<%- contentFor('HeaderCss') %>

<%- contentFor('body') %>


<div class="row">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3><%= questionSet.name %> </h3>
        <p>Total Questions: <%= questionSet.totalQuestions %></p>
    </div>
    <% questionSet.questions.forEach(function (question) { %>
    <div class="col-xl-6 col-md-12">
        <!-- card -->
        <div class="card card-animate">
            <div class="card-header">
                <h2 class="card-title"><%= question.text %></h2>
            </div>
            <div class="card-body">

            </div><!-- end card -->
            <div class="card-footer d-flex align-items-end flex-row-reverse justify-content-between mx-2">
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#questionModal"
                        data-question-id="<%= question._id %>">Update
                </button>
                <button class="btn btn-danger btn-sm deleteQuestion" data-toggle="modal" data-target="#deleteModal"
                        data-question-id="<%= question._id %>">Delete
                </button>
            </div>
        </div>
        <% }); %>
    </div>

    <%                %>
    <%- contentFor('FooterJs') %>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script>
        $('.deleteQuestion').click(function () {
            var questionId = $(this).data('question-id');
            // $('#deleteQuestionId').val(questionId);

            $.ajax({
                type: 'DELETE',
                url: '/admin/question/' + questionId,
                data: {
                    _csrf: $('#csrf').val()
                },
                success: function (res) {
                    console.log(res);
                },
            });
        });

    </script>
