<%- contentFor('HeaderCss') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/css/bootstrap-modal.min.css" integrity="sha512-888I2nScRzrb/WNZ3qsa5kiZNmaEsvz8HEVQZRGokIEOj/sMnUlLClqP7itKJYDhXWsmp+1usxoCidSEfW2rWw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/css/bootstrap-modal-bs3patch.min.css" integrity="sha512-pZqJY6O1CmsoNXFQzpxc+DqTjVjZksnizgykkLSjj2FeM/KzZyVpy4E1FtX90FoU2Ka8X/nlo/7ebheSThd4Qg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<%- contentFor('body') %>


<div class="row">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3><%= questionSet.name %> </h3>
        <p>Total Questions: <%= questionSet.totalQuestions %></p>
    </div>
    <div>
        <% questionSet.questions.forEach(function (question) { %>

            <div class="col-xl-6 col-md-12 card-question">
                <!-- card -->
                <div class="card card-animate">
                    <div class="card-header">
                        <h2 class="card-title"><%= question.text %></h2>
                    </div>
                    <div class="card-body">
                        <div class="option-div">
                            <% if (question.options.length != 0) { %>
                                <% question.options.forEach(function (option){ %>
                                    <h5> <%= option.text %></h5><br>
                                <% }) %>
                            <% } %>
                        </div>
                        <div class="answer-div">
                            <h4> <%= question.answer.answer %></h4>
                        </div>
                    </div><!-- end card -->
                    <div class="card-footer d-flex align-items-end flex-row-reverse justify-content-between mx-2">
                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#questionModal"
                                data-question-id="<%= question._id %>">Update
                        </button>
                        <button class="btn btn-danger btn-sm deleteQuestion" data-toggle="modal"
                                data-target="#deleteModal"
                                data-question-id="<%= question._id %>">Delete
                        </button>
                    </div>
                </div>
            </div>

        <% }); %>
    </div>


    <!--    modal for update  questionModal -->
    <div class="modal fade" id="questionModal" tabindex="-1" aria-labelledby="questionModal" style="display: none;"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="questionModal">Grid Modals</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="javascript:void(0);">
                        <div class="row g-3">
                            <div class="col-xxl-6">
                                <div>
                                    <label for="firstName" class="form-label">First Name</label>
                                    <input type="text" class="form-control" id="firstName"
                                           placeholder="Enter firstname">
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-xxl-6">
                                <div>
                                    <label for="lastName" class="form-label">Last Name</label>
                                    <input type="text" class="form-control" id="lastName" placeholder="Enter lastname">
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-lg-12">
                                <label class="form-label">Gender</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                               id="inlineRadio1" value="option1">
                                        <label class="form-check-label" for="inlineRadio1">Male</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                               id="inlineRadio2" value="option2">
                                        <label class="form-check-label" for="inlineRadio2">Female</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                               id="inlineRadio3" value="option3">
                                        <label class="form-check-label" for="inlineRadio3">Others</label>
                                    </div>
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-xxl-6">
                                <label for="emailInput" class="form-label">Email</label>
                                <input type="email" class="form-control" id="emailInput" placeholder="Enter your email">
                            </div>
                            <!--end col-->
                            <div class="col-xxl-6">
                                <label for="passwordInput" class="form-label">Password</label>
                                <input type="password" class="form-control" id="passwordInput" value="451326546"
                                       placeholder="Enter password">
                            </div>
                            <!--end col-->
                            <div class="col-lg-12">
                                <div class="hstack gap-2 justify-content-end">
                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--    modal close-->

    <%- contentFor('FooterJs') %>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script>
        $('.deleteQuestion').click(function () {
            var questionId = $(this).data('question-id');
            // $('#deleteQuestionId').val(questionId);

            deleteCard = $(this).closest('.card-question');

            $.ajax({
                type: 'DELETE',
                url: '/admin/question/' + questionId,
                data: {
                    _csrf: $('#csrf').val()
                },
                success: function (res) {
                    console.log(res);


                    deleteCard.remove();
                },
            });
        });

    </script>
